//mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.homelanding-container {
  @include flex(column, center, center);
  height: 100%;
  width: 100%;
  background: rgba(249, 246, 246, 0.4);
  box-shadow: 0 0.1rem 0.5rem 0 rgba(80, 83, 126, 0.37);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 1.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
}
